.warna1 {
  background-color: #d2649a;
}

.warna2 {
  background-color: #c65bcf;
}

.warna3 {
  background-color: #9c338b;
}

.warna4 {
  background-color: #ad88c6;
}

.warna5 {
  background-color: #e1afd1;
}

.banner {
  height: 100vh;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/Health.PNG);
}

.highlighted-kategori {
  height: 250px;
}

.kategori-anxiety {
  background-size: cover !important;
  background-position: center !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/anxiety.jpg);
}

.kategori-filosofi {
  background-size: cover !important;
  background-position: center !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/filosofi-teras.jpg);
}

.kategori-kes-mental {
  background-size: cover !important;
  background-position: center !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/kesehatan-mental.jpg);
}

.no-decoration {
  text-decoration: none;
  color: white;
}

.no-decoration:hover {
  color: #c65bcf;
}

.text-harga {
  font-size: 22px;
  color: #9c338b;
}
