/* Background Color Classes */
.warna1 {
  background-color: #d2649a;
}

.warna2 {
  background-color: #c65bcf;
}

.warna3 {
  background-color: #9c338b;
}

.warna4 {
  background-color: #ad88c6;
}

.warna5 {
  background-color: #e1afd1;
}

/* Banner */
.banner {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/Health.PNG) no-repeat center / cover;
}

/* Highlighted Categories */
.highlighted-kategori {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.kategori-anxiety {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/anxiety.jpg) no-repeat center / cover;
}

.kategori-filosofi {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/filosofi-teras.jpg) no-repeat center / cover;
}

.kategori-kes-mental {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/kesehatan-mental.jpg) no-repeat center / cover;
}

/* Links */
.no-decoration {
  text-decoration: none;
  color: white;
}

.no-decoration:hover {
  color: #c65bcf;
}

/* Text */
.text-harga {
  font-size: 22px;
  color: #9c338b;
}

/* Image Box */
.image-box {
  height: 250px;
}

.image-box img {
  height: 100% !important;
  width: auto !important;
  object-fit: initial !important;
  object-position: center !important;
}

.content-subscribe {
  background-color: rgba(0, 0, 0, 0.7);
}

.content-subscribe a {
  color: #fff;
}

.banner2 {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/Health.PNG) no-repeat center / cover;
}

.produk-terkait-image {
  height: 100% !important;
  width: auto !important;
  object-fit: initial !important;
  object-position: center !important;
}
